<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="{{url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done</title>
</head>



<body>
    <div class="navbar">
        <ul>
            <li><a id='listHome' href='/home'> home </a> </li>
            <li><a href='' >about</a></li>
            <li><a href=''>contact us</a> </li>
        </ul>
    </div>
    <form method='post'>
        <input type='submit' id='startagain' value='Start again'>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Score</th>
            <th>Out of:</th>
        </tr>
        {%for data in names%}
        <tr>
            {% if current_names  in data %}
            <td style='background:rgb(138, 196, 46);' >{{data[0]}}</td>
            <td style='background:rgb(138, 196, 46);'>{{data[1]}}</td>
            <td style='background:rgb(138, 196, 46);'>{{data[2]}}</td>
            <td style='background:rgb(138, 196, 46);'>4</td>

            {%else%}
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>4</td>

            {%endif%}
        </tr>
        {%endfor%}
    </table>

</body>
</html>