<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="{{url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done</title>
    <link rel='icon' href='https://previews.123rf.com/images/niyazz/niyazz1309/niyazz130900306/22046368-letters-and-symbols-in-fire-letter-t-.jpg'>

</head>



<body>
    <input type='checkbox' id='bars'>
    <div class="navbar">
        <label class='checkbars' for='bars'><i class='fas fa-bars' ></i></label>
        <ul>
            <li><a id='listHome' href='/home'> home </a> </li>
            <li><a href='#about' >about</a></li>
            <li><a href='#about'>contact us</a> </li>
        </ul>
    </div>
    <form method='post'>
        <input type='submit' id='startagain' value='Start again'>
    </form>
    <table>
        <tr>
            <th>rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Out of:</th>
        </tr>
        {%for data in names%}
        <tr>
            {% if current_names  in data %}
            <td style='background:rgb(138, 196, 46);' >{{data[0]}}</td>
            <td style='background:rgb(138, 196, 46);'>{{data[1]}}</td>
            <td style='background:rgb(138, 196, 46);'>{{data[2]}}</td>
            <td style='background:rgb(138, 196, 46);'>10</td>

            {%else%}
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>10</td>

            {%endif%}
        </tr>
        {%endfor%}
    </table>
    <div id='about' class="about">
        <h3>ABOUT</h3>
        <p>
            This is a website designed to sharpen deep thinking and logical elimination of false answers.
        <br>invite your friends and Compete
        <br>and most importantly,<br>  <h3>HAVE FUN</h3>
        </p>
        <label>Contact us at +254759274504</label><br>
        <label>Email us at: galgalloroba.gr.gr.gr@gmail.com</label>
    </div>
</body>
</html>