<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="{{url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done</title>
</head>

<style>


</style>

<body>
    <div class="navbar">
        <ul>
            <li><a id='listHome' href='/home'> home </a> </li>
            <li><a href='' >about</a></li>
            <li><a href=''>contact us</a> </li>
            <li><a id='lll' href='/leaderboard'>leaderboard</a></li>
        </ul>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Marks</th>
            <th>Out of:</th>
        </tr>
        {%for data in names%}
        <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>4</td>
        </tr>
        {%endfor%}
    </table>

</body>
</html>