<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
    <link rel='icon' href='https://previews.123rf.com/images/niyazz/niyazz1309/niyazz130900306/22046368-letters-and-symbols-in-fire-letter-t-.jpg'>

</head>

{% if message=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

{% if answers=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

<body>
 <form method="post">


<div class="question7">
    <h1> Question 7/10</h1>
    {%if message =='no' %}
    <h1 class='wrongq1' >Wrong!Try again!</h1>
    {%endif%}
    {%if answers =='no' %}
    <h1 class='wrongq1' >You need to answer all the questions</h1>
    {%endif%}
    <h2> What is the capital city of Romania ? </h2>
    <div class='answers'>
        <input type="radio" value="rome" name="romania" id="rome" >
        <label class="answerlabel" for="rome" >Rome</label><br>
        <input  type="radio" value="bucharest" name="romania" id="bucharest" >
        <label class="answerlabel" for="bucharest">Bucharest</label><br>
        <input type="radio" value="geneva" name="romania" id="geneva" >
        <label class="answerlabel" for="geneva" > Geneva</label><br>
        </div>
       
        
</div>

<a class='back' href = '/Question6'> Back </a>
<input type="submit" value="next" id='mae'>
 </form>
</body>
</html>