<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
</head>
{% if message=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

{% if answers=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

<body>
 <form method="post">

<div class="question1">
    <h1>1.</h1>
    {%if message =='no' %}
    <h1 class='wrongq1' >Wrong!Try again!</h1>
    {%endif%}
    {%if answers =='no' %}
    <h1 class='wrongq1' >You need to answer all the questions</h1>
    {%endif%}
    <h2> who is the first president of Kenya? </h2>
<div class="answers">
    <input type="radio" value="uhuru" name="president" id="uhuru" >
    <label class='answerlabel'  for="uhuru" >uhuru</label><br>
    <input type="radio" value="kenyatta" name="president" id="kenyatta" >
    <label class='answerlabel' for="kenyatta">kenyatta</label><br>
    <input type="radio" value="raila" name="president" id="raila" >
    <label class='answerlabel' for="raila" > raila</label><br>
</div>
      

<input type="submit" value="next" id='mae'>
 </form>
</body>
</html>