<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
    <link rel='icon' href='https://previews.123rf.com/images/niyazz/niyazz1309/niyazz130900306/22046368-letters-and-symbols-in-fire-letter-t-.jpg'>

</head>

{% if message=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

{% if answers=='no' %}
<style>
    h2{
        margin-top: 0;
    }
</style>
{%endif%}

<body>
 <form method="post">


<div class="question8">
    <h1> Question 8/10</h1>
    {%if message =='no' %}
    <h1 class='wrongq1' >Wrong!Try again!</h1>
    {%endif%}
    {%if answers =='no' %}
    <h1 class='wrongq1' >You need to answer all the questions</h1>
    {%endif%}
    <h2> Which one of the following countries is found in Europe ? </h2>
    <div class='answers'>
        <input type="radio" value="mexico" name="europe" id="mexico" >
        <label class="answerlabel" for="mexico" >Mexico</label><br>
        <input  type="radio" value="bangladesh" name="europe" id="bangladesh" >
        <label class="answerlabel" for="bangladesh">Bangladesh</label><br>
        <input type="radio" value="vaticancity" name="europe" id="vaticancity" >
        <label class="answerlabel" for="vaticancity" > Vatican City</label><br>
        </div>
       
        
</div>

<a class='back' href = '/Question7'> Back </a>
<input type="submit" value="next" id='mae'>
 </form>
</body>
</html>