<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
        <link rel='icon' href='https://previews.123rf.com/images/niyazz/niyazz1309/niyazz130900306/22046368-letters-and-symbols-in-fire-letter-t-.jpg'>

</head>
<body>
<div class="headerHome">
    <div class="navbar">
        <ul>
            <li><a id='active' href='/home'> home </a> </li>
            <li><a href='' >about</a></li>
            <li><a href=''>contact us</a> </li>
            <li><a href='/leaderboard' >leaderboard</a></li>
        </ul>
    </div>
    <h1> Welcome to Trivia  </h1>
    <h2> this is where you Ramble for the Answers ... wish you all the best </h2>
</div>
<div class="begin">
    <form method="post">

        <input id="iii" required type="text" name="names" placeholder="enter your name here"><br>
        <input id="iii2" type="submit" value="begin">

    </form>
</div>


</body>
</html>