<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trivia</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">

</head>
<body>
<div class="headerHome">
    <h1> Welcome to Trivia  </h1>
    <h2> this is where you Ramble for the Answers ... wish you all the best </h2>
</div>
<div class="begin">
    <form method="post">

        <input id="iii" type="text" name="names" placeholder="enter your name here"><br>
        <input id="iii2" type="submit" value="begin">

    </form>
</div>


</body>
</html>